.about {
  position: relative;
}

.about h1 {
  color: #fff;
  padding-top: 80px;
}

/* .about-content::before {
  content: "";
  width: 170px;
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
}

.about-content::after {
  content: "who i am";
  position: relative;
  top: -13px;
  left: 45%;
  transform: translateX(-50%);
  font-size: 17px;
  color: var(--primary);
  padding: 0 5px;
  background: black;
} */

.box {
  overflow: hidden;
  border-radius: 5px;
  max-width: 400px;
  height: 420px;
  background-color: #fff;
}

.box img {
  width: 100%;
  height: auto;
}

.text {
  font-weight: 600;
  margin-top: 30px;
  font-size: 35px;
}

p {
  font-style: normal;
  font-weight: 100;
  font-size: 0.5em;
  text-align: justify;
}

.btn {
  padding: 6px 23px;
  border: 2px solid var(--primary);
  background-color: black;
  color: var(--primary);
}

.btn:hover {
  background: var(--primary);
  color: #fff;
  border: 2px solid var(--primary);
}

span {
  color: var(--primary);
}

@media (max-width: 576px) {
  .text {
    font-size: 20px;
  }

  p {
    font-size: 10px;
  }

  .about-content::before {
    left: 48%;
  }

  .about-content::after {
    top: 25px;
    left: 45%;
  }
  .box {
    display: none;
  }
  .container {
    margin-top: -5pc;
  }
}
