<div class="container">
  <div class="about">
    <h1 class="text-center">About me</h1>
    <div class="about-content"></div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-md-6 text-center text-md-start mb-md-0">
      <div class="box">
        <img src="../assets/my profile.jpg" alt="Profile Picture" />
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="text">
        I'm Vamsi and I'm a <span>{{ displaytext }}</span>
        <p>
          I am Vamsi Krishna, currently pursuing my Master's in Computer
          Applications <span>(MCA) </span> at <span>Aditya University</span> .
          My academic journey has equipped me with a solid foundation in
          computer science and a deep understanding of various web development
          technologies. I have a passion for creating dynamic, user-friendly
          websites and applications.
        </p>
        <button class="btn btn-rounder btn-danger">Download CV</button>
      </div>
    </div>
  </div>
</div>
