<div class="container">
  <div class="project">
    <h1 class="text-center">My Projects</h1>
    <div class="project-content"></div>
    <div class="row mt-4">
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="box">
          <div class="content">
            <h2>GlowGroove</h2>
            <h5>Angular App</h5>
            <button (click)="github('Glow')">
              View Project <i class="bi bi-arrow-up"></i>
            </button>
          </div>

          <!-- <div class="overlay">
            <div class="overlay-content">
              <h3>TODO Project</h3>
              <p>Angular App</p>
            </div>
            <div class="applink">
              <a routerLink="">
                Live Preview <i class="bi bi-arrow-up-right"></i>
              </a>
            </div>
            <div class="overlay-icons">
              <a
                href="https://github.com/Gantedavamsikrishna/todo-project-front-end"
              >
                <i class="bi bi-github"></i>
              </a>

              <a href="">
                <i hrefkw class="bi bi-linkedin"></i>
              </a>
              <a href=""> <i class="bi bi-facebook"></i></a>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="box">
          <div class="content">
            <h2>Crud-Operations</h2>
            <h5>MEAN Stack</h5>
            <button (click)="github('crud')">
              view project <i class="bi bi-arrow-up"></i>
            </button>
          </div>
          <!-- <div class="overlay">
            <div class="overlay-content">
              <h3>Project Title</h3>
              <p>Short description of the project.</p>
            </div>
            <div class="overlay-icons">
              <i class="bi bi-linkedin"></i>
              <i class="bi bi-github"></i>
              <i class="bi bi-facebook"></i>
            </div> 
          </div>
          -->
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="box">
          <div class="content">
            <h2>RESTful-API</h2>
            <h5>Spring Boot</h5>
            <button (click)="github('Api')">
              view project <i class="bi bi-arrow-up"></i>
            </button>
          </div>
          <!-- <div class="overlay">
            <div class="overlay-content">
              <h3>Project Title</h3>
              <p>Short description of the project.</p>
            </div>
            <div class="overlay-icons">
              <i class="bi bi-linkedin"></i>
              <i class="bi bi-github"></i>
              <i class="bi bi-facebook"></i>
            </div>
          </div> -->
        </div>
      </div>
      <!-- Add more project boxes as needed -->
    </div>
  </div>
</div>
