<div class="container">
  <div class="skill">
    <h1 class="text-center">My Skills</h1>
    <div class="skill-content"></div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-6 text-center text-md-start mb-4 mb-md-0">
      <div class="text">My creative skills & experiences.</div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
        ratione error est recusandae consequatur, iusto illum deleniti quidem
        impedit, quos quaerat quis minima sequi. Cupiditate recusandae
        laudantium esse, harum animi aspernatur quisquam et delectus ipsum quam
        alias quaerat? Quasi hic quidem illum. Ad delectus natus aut hic
        explicabo minus quod.
      </p>
      <button class="btn btn-rounder">Read More</button>
    </div>
    <div class="col-12 col-md-6 text-center">
      <img src="../assets/skills.png" alt="Skills Image" class="img-fluid" />
    </div>
  </div>

  <div class="project">
    <h1 class="text-center">My Projects</h1>
    <div class="project-content"></div>
    <div class="row mt-4">
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="box">
          <img
            src="../assets/project1.png"
            alt="Project Image"
            class="img-fluid"
          />
          <div class="overlay">
            <div class="overlay-content">
              <h3>Project Title</h3>
              <p>Short description of the project.</p>
            </div>
            <div class="overlay-icons">
              <i class="bi bi-linkedin"></i>
              <i class="bi bi-github"></i>
              <i class="bi bi-facebook"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="box">
          <img
            src="../assets/project1.png"
            alt="Project Image"
            class="img-fluid"
          />
          <div class="overlay">
            <div class="overlay-content">
              <h3>Project Title</h3>
              <p>Short description of the project.</p>
            </div>
            <div class="overlay-icons">
              <i class="bi bi-linkedin"></i>
              <i class="bi bi-github"></i>
              <i class="bi bi-facebook"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="box">
          <img
            src="../assets/project1.png"
            alt="Project Image"
            class="img-fluid"
          />
          <div class="overlay">
            <div class="overlay-content">
              <h3>Project Title</h3>
              <p>Short description of the project.</p>
            </div>
            <div class="overlay-icons">
              <i class="bi bi-linkedin"></i>
              <i class="bi bi-github"></i>
              <i class="bi bi-facebook"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- Add more project boxes as needed -->
    </div>
    <button class="btn btn-rounder">View All Projects</button>
  </div>
</div>
