<div class="container">
  <div class="project">
    <h1 class="text-center">My Projects</h1>
    <div class="project-content"></div>
    <div class="row mt-4">
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="box">
          <img src="../assets/TODO.jpg" alt="Project Image" class="img-fluid" />
          <div class="overlay">
            <div class="overlay-content">
              <h3>Project Title</h3>
              <p>Short description of the project.</p>
            </div>
            <div class="overlay-icons">
              <i class="bi bi-linkedin"></i>
              <i class="bi bi-github"></i>
              <i class="bi bi-facebook"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="box">
          <img
            src="../assets/project1.png"
            alt="Project Image"
            class="img-fluid"
          />
          <div class="overlay">
            <div class="overlay-content">
              <h3>Project Title</h3>
              <p>Short description of the project.</p>
            </div>
            <div class="overlay-icons">
              <i class="bi bi-linkedin"></i>
              <i class="bi bi-github"></i>
              <i class="bi bi-facebook"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="box">
          <img
            src="../assets/project1.png"
            alt="Project Image"
            class="img-fluid"
          />
          <div class="overlay">
            <div class="overlay-content">
              <h3>Project Title</h3>
              <p>Short description of the project.</p>
            </div>
            <div class="overlay-icons">
              <i class="bi bi-linkedin"></i>
              <i class="bi bi-github"></i>
              <i class="bi bi-facebook"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- Add more project boxes as needed -->
    </div>
    <button class="btn btn-rounder">View All Projects</button>
  </div>
</div>
