.container {
  font-size: 13px;
  margin-bottom: 10px;
}

.contact-content::before {
  content: "";
  width: 150px;
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
}

.contact-content::after {
  content: "get in touch";
  position: relative;
  top: -6px;
  left: 46%;
  transform: translateX(-50%);
  font-size: 17px;
  color: crimson;
  padding: 0 5px;
  background: black;
}

#row {
  margin-top: 30px;
}

h5 {
  font-weight: 600;
}

.footer {
  padding-top: 5px;
  color: black;
}

h6 {
  margin-top: 10px;
}

.footer span {
  color: red;
}

.btn {
  color: #fff;
  border: 2px solid red;
  background: red;
}

.btn:hover {
  background: black;
  color: red;
  border: 2px solid red;
}
.alert {
  width: 10pc;
  height: 2.5pc;

  animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

/* Responsive Styles */
@media (max-width: 576px) {
  .contact-content::before,
  .contact-content::after {
    position: relative;
    top: -10px;
    left: 33%;
    transform: translateX(-50%);
  }

  #row {
    margin-left: 0;
    margin-right: 0;
  }

  .col-6 {
    margin-top: 20px;
  }

  .form-group .row .col-6 {
    margin-top: 10px;
  }

  .form-group .row .col {
    margin-top: 10px;
  }

  button {
    width: 100%;
  }
}
