<div class="container">
  <div class="contact">
    <h1 class="text-center">Contact</h1>
    <div class="contact-content"></div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6">
      <h5>Get in Touch</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        harum corporis fuga corrupti. Doloribus quis soluta nesciunt veritatis
        vitae nobis?
      </p>
      <table class="table">
        <tr>
          <td><i class="bi bi-map text-danger bg-transparent"></i></td>
          <td>
            Name <br />
            Vamsi Krishna
          </td>
        </tr>
        <tr>
          <td><i class="bi bi-map text-danger bg-transparent"></i></td>
          <td>
            Address <br />
            Vizyanagaram, Andhra Pradesh
          </td>
        </tr>
        <tr>
          <td><i class="bi bi-map text-danger bg-transparent"></i></td>
          <td>
            Email <br />
            vamsiganteda@gmail.com
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <h5>Message Me</h5>
      <div class="form-group">
        <input type="text" class="form-control mb-2" placeholder="Name.." />
        <input
          type="text"
          class="form-control mb-2"
          placeholder="Mail@gmail.com"
        />
        <input type="text" class="form-control mb-2" placeholder="Subject" />
        <textarea
          placeholder="Message......"
          rows="2"
          class="form-control mb-2"
        ></textarea>
        <button class="btn btn-danger">Send message</button>
      </div>
    </div>
  </div>
</div>
<div class="footer bg-light text-center p-2">
  <h6>
    Created By <span>AV Creation's</span> | <i class="bi bi-copyright"></i>
    2024 All rights reserved.
  </h6>
</div>
