<div class="container">
  <div class="contact">
    <h1 class="text-center">Contact</h1>
    <div class="contact-content"></div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6 t">
      <!-- <div class="text">
        Get in Touch
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          harum corporis fuga corrupti. Doloribus quis soluta nesciunt veritatis
          vitae nobis?
        </p>
      </div> -->
      <table class="table">
        <tr>
          <td>
            <i class="bi bi-person-circle bg-transparent"></i>
          </td>
          <td>
            <span>Name</span> <br />
            Vamsi Krishna
          </td>
        </tr>
        <tr>
          <td><i class="bi bi-geo-alt r bg-transparent"></i></td>
          <td>
            <span>Address</span> <br />
            Vizyanagaram, Andhra Pradesh
          </td>
        </tr>
        <tr>
          <td><i class="bi bi-envelope bg-transparent"></i></td>
          <td>
            <span>Email</span> <br />
            <a href="mailto:gantedavamsi2004@gmail.com"
              >gantedavamsi2004&#64;gmail.com</a
            >
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <input
          type="text"
          [(ngModel)]="name"
          class="form-control mb-2"
          placeholder="Name.."
        />
        <input
          type="email"
          class="form-control mb-2"
          [(ngModel)]="mail"
          placeholder="Mail@gmail.com"
        />
        <input
          type="text"
          class="form-control mb-2"
          [(ngModel)]="mailstructure.subject"
          placeholder="Subject"
        />
        <textarea
          placeholder="Message......"
          rows="2"
          class="form-control mb-2"
          [(ngModel)]="mailstructure.message"
        ></textarea>
        <div class="row">
          <div class="col">
            <button
              class="btn btn-danger"
              (click)="sendmail()"
              [disabled]="isLoading"
            >
              Send
            </button>
          </div>
          <div class="col">
            <div class="alert alert-success" *ngIf="resmsg">
              <strong>Successfully sent!</strong>
            </div>
          </div>
          <div class="col" *ngIf="isLoading">
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-info"></div>

            <!-- <div
              *ngIf="isLoading"
              class="spinner-border text-light"
              role="status"
            >
              <span></span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer bg-light text-center p-2">
  <h6>
    <i class="bi bi-copyright"></i>
    All rights reserved 2025 &#10084; by vamsi.
  </h6>
</div>
