<div class="container">
  <div class="skill">
    <h1 class="text-center">My Skills</h1>
    <div class="skill-content"></div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-6 text-center text-md-start mb-4 mb-md-0">
      <div class="text">
        My creative skills & experiences.
        <p>
          I specialize in web development with a strong focus on Java-based
          frameworks, particularly <span>Angular</span> and
          <span>Spring Boot</span>, which I use to build dynamic and scalable
          applications. My proficiency extends to core web technologies
          including HTML, CSS, JavaScript, and Bootstrap, enabling me to create
          visually appealing and responsive designs. Additionally, I have
          experience with various database management systems, including
          MongoDB, MySQL, and Oracle, ensuring effective data handling and
          <!-- management. Currently, I am applying my skills to several projects,
        which showcase my ability to integrate these technologies into practical
        solutions. For more details on these projects, please refer to the
        Projects section below -->
        </p>
      </div>
      <button class="btn btn-rounder">Read More</button>
    </div>
    <div class="col-12 col-md-6 text-center">
      <img src="../assets/skills.png" alt="Skills Image" class="img-fluid" />
    </div>
  </div>
</div>
