<div class="container">
  <div class="skill">
    <h1 class="text-center">My Skills</h1>
    <div class="skill-content"></div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="text">My creative skills & experiences.</div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
        ratione error est recusandae consequatur, iusto illum deleniti quidem
        impedit, quos quaerat quis minima sequi. Cupiditate recusandae
        laudantium esse, harum animi aspernatur quisquam et delectus ipsum quam
        alias quaerat? Quasi hic quidem illum. Ad delectus natus aut hic
        explicabo minus quod.
      </p>

      <button class="btn btn-rounder">read more</button>
    </div>

    <div class="col-6">
      <img src="../assets/skills.png" alt="" />
    </div>
  </div>
</div>
