.home .container {
  padding: 10px;
  padding-bottom: 30px;
  margin-bottom: 100px;
  margin-top: 80px;
}

.container h3 {
  font-size: 2.3em;
  margin-top: 10px;
}

.container .name h1 {
  font-size: 4.1em;
  font-weight: 600;
}

.typing p {
  font-size: 2.5em;
}

.typing span {
  color: var(--primary);
}

.btn {
  border: 2px solid var(--primary);
  background-color: black;
  color: var(--primary);
  padding: 0.2pc 4pc;
  font-size: 1.5em;
  margin-bottom: 2pc;
}

.btn:hover {
  color: #fff;
  background-color: var(--primary);
  transition: 0.5s ease-in-out;
}

.icons {
  font-size: 33px;
}

.icons i {
  color: #fff;
  margin: 10px;
}

.icons i:hover {
  transition: 1ms ease-in-out;
  font-size: 33px;
  cursor: pointer;
  color: var(--primary);
  box-shadow: 0 0 30px rgba(235, 232, 232, 0.1);
}

.box {
  width: 100%;
  max-width: 350px;
  height: 350px;
  margin: 20px auto 0;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(16, 15, 15);
  border: 3px solid var(--primary);
}

img {
  width: 300px;
  height: auto;
}

.typing p span {
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid rgb(239, 43, 43);
  animation: blink-caret 0.75s step-end infinite;
}
.home .icons {
  z-index: 10;
  position: relative;
}

@keyframes blink-caret {
  from,
  to {
    border: transparent;
  }
  50% {
    border-color: var(--primary);
  }
}

@media (max-width: 576px) {
  .container .name h1 {
    font-size: 40px;
  }
  .container {
    margin-bottom: 10px;
  }
  .typing p {
    font-size: 20px;
  }

  .navbar-brand h3 {
    margin-left: 0;
  }

  .home .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
